.CardWrapper{
  width: 260px;
  height: 450px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: #f1efeff6 solid 2px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  padding-bottom: 70px;
  }

.CardWrapper:hover {
  border: #a7a4a4f6 solid 2px;
}

.PCimage{
  height: 100%;
  min-height: 284px;
  max-height: 284px;
  width: 100%;
  object-fit: contain;
  border: #041651;
}
  
.PCDataWrapper {
  display: flex;
  flex-direction: column;
  width: 284px;
  height: 180px;
  margin-left: 5px;
}


.atc {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.atc:hover {
    opacity: 0.7;
  }