.backgroundContact {
    background-image: url('../images/Portada-Transpar2.png');
    background-size: cover;
    max-height: 90vh;
    background-position: center;
    height: 88vh;
    display: flex;
    align-items: flex-start;
    padding: 0;
}

#textBoxContact {
    margin-top: 27px;
    padding-left: 10vh;
    font-family: "Roboto";
    font-size: 20px;
    width: 90vh;
    animation: drop 1.5s ease;
}

.formsContact{
    display: flexbox;
    margin-top: 0px;
}

#titleContact {
    margin-bottom: 1vh;
    font-size: 30px;
    font-family: 'Roboto';
}

#introContact {
    margin-bottom: 7vh;
    font-size: 20px;
}

#buttonSubmit {
    margin-top: 3vh;
    margin-bottom: 17vh;
}

#nname{
    width: 250px;
}
#ename{
    width: 60px;
}
#mname{
    width: 60px;
}

.emailInput{
    padding-top: 20px;
}

.messageInput{
    padding-top: 20px;
}

.fullInput{
    padding-top: 20px;
}

#submitButtonContact{
    margin-top: 20px;
}


#exampleInputPassword2{
    padding-bottom: 20px;
    height: 160px;
    
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
