.LogoConteiner{
    padding-left: 100px;
}

#NavBarButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    margin-left: 0px;
    margin-right: 15px;
    background-color:white;
}

#indexHomeButton{
    margin-left: 600px;
    color: #97979b
}
#indexAboutButton{
    color: #97979b

}
#indexBlogButton{
    color: #97979b

}
#indexContactButton{
    color: #97979b

}