body {
    margin: 0;
    padding: 0;
    background: white;
   }
   
   .buscar-caja-catalogo {
    background: #1c6269;
    position: relative;
    display: flexbox;
    justify-content: center;
    margin-left: 77vh;
    width: 400px;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
   }
   
   .buscar-caja-catalogo > .buscar-txt-catalogo {
    width: 240px;
    padding: 0 6px;
   }
   
   .buscar-caja-catalogo > .buscar-btn-catalogo {
    background: white;
    color: black;
   }
   
   .buscar-btn-catalogo {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .buscar-btn-catalogo > i {
    font-size: 30px;
   }
   
   .buscar-txt-catalogo {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: lighter;
   }

   .btn2 {
       border-radius: 40px;
       height: 41px;
   }