.background-index {
    background-image: url('../images/Portada-Transpar2.png');
    background-size: cover;
    max-height: 90vh;
    background-position: center;
    height: 88vh;
    display: flex;
    align-items: flex-start;
    padding: 0;
}

#textBox {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15vh;
    padding-left: 10vh;
    margin-bottom: 20vh;
    font-family: "Roboto";
    font-size: 40px;
}

#titleIndex {
    margin-bottom: 2vh;
    font-size: 40px;
    font-family: 'Roboto';
    animation: slide 0.5s ease;
}

#introIndex {
    padding-bottom: 1vh;
    font-size: 60px;
    animation: slide 1.5s ease;
}
#buttonIndex{
    border-radius: 30px;
    animation: slide 2.0s ease;
  }

  @keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}